* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#title {
    background-color: #222831;
    position: relative;
    padding-bottom: 73.35px;
}

.aqua {
    color: #00ADB5;
}

.navbar {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
}

.sauldesign {
    padding: 48px 96px;
    gap: 10px;
}

.text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
}

.menu {
    display: flex;
    padding: 48px 96px;
    gap: 48px;
    height: 93.2%;
}

.menu_text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEEBF;
    ;
}

.horizontal_line {
    width: 100%;
    height: 0;
    color: #EEEEEE;
    border-radius: 0;
    border: 1px solid rgba(238, 238, 238, 0.1);
}

.vertical_line {
    width: auto;
    border: 1px solid rgba(238, 238, 238, 0.1);
    transform: rotate(90deg);
}

.rule0 {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    border: 1px solid rgba(238, 238, 238, 0.1);
}

.titlebox {
    display: flex;
    flex-direction: row;
    gap: 81px;
    padding: 202px 79px 73.35px 180px;
}

.title_box1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #EEEEEE;
}

.title_btns {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.title_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    border-radius: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #EEEEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.hire {
    background: #00ADB5;
}

.download {
    background: rgba(57, 62, 70, 0.75);
    backdrop-filter: blur(2px);
}

.title_imgs {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.title_img1 {
    z-index: 0;
}

.title_img2 {
    position: absolute;
width: 400px;
height: 472.65px;
left: 814px;
top: 478px;
}

.arrow3 {
    position: absolute;
    width: 89.96px;
    height: 221.69px;
    left: 72.46px;
    top: 385px;
}

.downarrow {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 464px;
    top: 864px;
}

/* ------------------------- */
#about {
    background-color: #222831;
    position: relative;
    padding-bottom: 100px;
}

.aboutouter {
    display: flex;
    flex-direction: row;
    gap: 179px;
    padding: 230px 110.67px 216.56px 96px;
}

.about1 {
    display: flex;
    flex-direction: column;

}

.aboutText1 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;

}

.bold {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #EEEEEE;

}

.aboutText2 {
    /* text-align: justify; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(238, 238, 238, 0.75);
}

.about2 {

}

.aboutImg1 {
    z-index: 0;
}

.aboutImg2 {

    position: absolute;
width: 412.68px;
height: 353.14px;
left: 772px;
top: 454.3px;}

.music {
    position: absolute;
    width: 61.54px;
    height: 46.57px;
    left: 96px;
    top: 135px;
}

.bulbabout {
    position: absolute;
    width: 57.33px;
    height: 88.16px;
    left: 447.23px;
    top: 227.14px;
}

.arrow2 {
    position: absolute;
    width: 112.72px;
    height: 169.89px;
    left: 313.23px;
    top: 668.93px;
}

.rule {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 892px;

    border: 1px solid rgba(238, 238, 238, 0.1);
}

.rule2 {
    position: relative;
    width: 89.34%;
    height: 0px;

    border: 1px solid rgba(238, 238, 238, 0.1);
    transform: rotate(90deg);
}

/* works section  */
#work {
    background-color: #222831;
    width: 100%;
    /* height: 1024px; */
    background-image: url(doodle\ items\ \(3\).png);
    background-size: 33.3%;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 268px 120px;
}

.work_items {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.work_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.work_text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
}

.work_text2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn {
    padding: 10px 32px;
    border-radius: 24px;
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.all {
    background: #00ADB5;
}

.work_images {
    display: flex;
    flex-direction: row;
    gap: 48px;
}


/* feedback section  */
#feedback {
    background-color: #222831;
    position: relative;
}

.feedback_box {
    display: flex;
    flex-direction: row;
    padding: 258px 96px;
}

.feedback_box1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feedback_text {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
}

.outline_0 {
    outline: 0;
    border: 0;
}

.feedback_text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 22px;
    gap: 16.44px;
}

.vector {
    width: 112.72px;
    height: 169.89px;
}

.arrow1 {
    position: absolute;
    width: 112.72px;
    height: 169.89px;
    left: 118px;
    top: 506.36px;
    transform: rotate(-30deg);
}




.feedback_box2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content_text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name_email {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.name {
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    padding: 16px 114.4px 16px 24px;
    color: rgba(238, 238, 238, 0.5);

}

::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE80;
}

.send {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 238px;
}

.send_img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}


.keyboard {
    position: absolute;
    width: 139.2px;
    height: 63.49px;
    left: 820px;
    top: 60.56px;
}

.mailicon {
    position: absolute;
    width: 58.23px;
    height: 49.14px;
    left: 1200px;
    top: 812.11px;
}

#contact {
    background-color: #222831;
}

.contacts {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.contact_1 {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.data {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.data1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icons {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.icon {
    width: 48px;
    height: 48px;
    background: #393E46;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 48px 96px;
    justify-content: flex-end;
    gap: 10px;
}

.contact_2_text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEEEEEBF;
}
.rule3{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    border: 1px solid rgba(238, 238, 238, 0.1);

}